################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.DatabaseImageBankInMvc/bin
/FSL.DatabaseImageBankInMvc/obj/Debug
/FSL.DatabaseImageBankInMvc/FSL.DatabaseImageBankInMvc.csproj.user
/packages
/FSL.DatabaseImageBankInMvc/obj/Release
*.user
